<h1>Editing Announcement</h1>

<%= render 'form', announcement: @announcement %>

<%= button_to 'Show', @announcement, :method => :get %> |
<%= button_to 'Back', announcements_path, :method => :get %>
