<p>
  <strong>Nome:</strong>
  <%= @source.name %>
</p>
 
<% if current_user.role == 'administrator' %>
  <%= link_to 'Editar', edit_source_path(@source) %>
<% end %> 

<%= link_to 'Voltar', sources_path %>