<head>
  <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap&effect=outline  " rel="stylesheet">
</head>
<body>
<div class="font-effect-outline" ><h1>Novo prazo</h1></div>

<%= render 'form', setup: @setup %>

<%= button_to 'Voltar', setups_path, :method => :get %>
