<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comentario.content %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
