<h1>Editar Requerimento</h1>

<%= render 'form', requirement: @requirement %>

<%= button_to 'Mostrar', @requirement, :method => :get %>
<br/>
<%= button_to 'Voltar', requirements_path, :method => :get %>
