<head>
  <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap&effect=outline  " rel="stylesheet">
</head>
<body>
<div class="font-effect-outline" ><h1>Editar Requerimento</h1>></div>

<%= render 'form', requirement: @requirement %>

<%= button_to 'Mostrar', @requirement, :method => :get %>
<br/>
<%= button_to 'Voltar', requirements_path, :method => :get %>
