<% if user_signed_in? %>
  <% if current_user.role == "professor"%>
    <form method="post" action="alter_credenciamento">

        <input type="submit" value="Pedir Re-Cadastro" />

    </form>

  <% end %>
  <%= link_to "Sair", destroy_user_session_path, method: :delete %>
<% end %>
