<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @request_type.title %>
</p>

<%= link_to 'Edit', edit_request_type_path(@request_type) %> |
<%= link_to 'Back', request_types_path %>
