<h1>Lista de Notificação</h1>
<h1>Criar Lista de Notificação</h1>

<%= form_with url: new_notification_path, method: :post do |form| %>
  <div>
    <%= form.label :title, "Nome do Grupo" %><br>
    <%= form.text_field :title %>
  </div>
  

  <div>
    <%= form.submit "Cadastrar"%>
  </div>

<% end %>
<p>Find me in app/views/notification/create.html.erb</p>
