<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity_type.title %>
</p>

<%= link_to 'Edit', edit_activity_type_path(@activity_type) %> |
<%= link_to 'Back', activity_types_path %>
