<p>
  <strong>Título:</strong>
  <%= @information.title %>
</p>
 
<p>
  <strong>Conteúdo:</strong>
  <%= @information.content %>
</p>

<% if !current_user.nil? and current_user.role == 'administrator' %>
  <%= link_to 'Editar', edit_information_path(@information) %>
<% end %> 

<%= link_to 'Voltar', informations_path %>