// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {

}

.css-selector{
  font-family: 'Calistoga', cursive;
}

.font-effect-outline{
  display: flex; justify-content: center;
  background-color: seagreen;
  width: 100%;

  padding: 0;
  margin: 0;
}