// Place all the styles related to the process controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#creation_form {
  max-width: 60%;
}

.delete_link {
  color: grey;
}

.input_file {
  position: relative;
  display: block;
  width: 100%;
  font-size: 80%;
  text-align: center;
  text-transform: uppercase;
  border: 2px dashed #ccc;
  margin: 3rem 0;
  padding: 1rem 1rem;
}

.input_file:hover {
  background-color: rgba(238,238,238, 0.3);
}

.input_file:active,
.input_file.focus {
  border-color: #09f;
}

input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  outline: 0;
  border: 1px solid red;
}

.label_hidden {
  display: none;
}

ul{
  text-align: left;
  list-style:none;
  padding:0;
  max-height:150px;
  overflow:auto;
  li{
    padding:0.5rem 0;
    padding-right:2rem;
    position:relative;
    i{
      cursor:pointer;
      position:absolute;
      top:50%;
      right:0;
      transform:translatey(-50%);
    }
  }
}

#process-list-root {
  max-width: 80%;
  margin: 3rem auto;
}

.filter-button {
  max-height: 23px;
  font-size: 15px;
}