<h1>Página de Processos</h1><br>
<p>Bem-vindo a página de processos aqui é possível criar, modificar ou excluir um processo.</p><br>

<%# <table>
    <tr>
        <th></th>
    </tr>
</table> %>
<%= link_to 'Criar', controller: "activities", action: "new" %>
<%# <%= link_to 'Editar', controller: "activities", action: "update" %>