<h1>Editar Solicitação</h1>

<%= render 'form', solicitation: @solicitation %>




<div style="display: flex; flex-direction: row">
  <%= button_to 'Voltar', solicitations_path, :method => :get %>
  <div style="margin-left: 50px">
    <%= button_to 'Mostrar', @solicitation, :method => :get %>
  </div>
</div>