<head>
  <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap&effect=outline  " rel="stylesheet">
</head>
<body>
<div class="font-effect-outline" ><h1>Nova Solicitação</h1></div>

<%= render 'form', solicitation: @solicitation %>

<%= button_to 'Voltar', solicitations_path, :method => :get  %>
