<head>
  <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap&effect=outline  " rel="stylesheet">
</head>
<body>
<div class="font-effect-outline" >
  <h1>Nova Movimentação</h1></div>
</body>

<%= render 'form', log: @log %>

<%= button_to 'Voltar', budgets_path, method: :get %>
